@import '@styles/vars.scss';

.input {
    display: inline-block;
    width: 100%;
}

.input input {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    border: 1px solid $default-border-color;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
    outline: none;
}