@import '@styles/vars.scss';

.invitation-popup {
    position: relative;
    width: 430px;
    height: 480px;
}

.error-msg {
    width: 100%;
    color: $danger-color;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    height: 0;
    margin-top: 20px;
}

@media screen and (max-height: 520px) {
    .invitation-popup {
        margin-top: 0 !important;
        height: 100vh;
        min-height: 100vh;
    }
}
