@import "@styles/vars.scss";

.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100000;
}

.popup-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.10);
}

.popup-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 200000;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    display: block;
    overflow-y: auto;
}

.popup-modal {
    margin: 0 auto;
    margin-top: 20vh;
    position: relative;
    min-width: 300px;
    min-height: 200px;
    max-width: 100vw;
    max-height: 100vh;
    background: #fff;
    border: 1px solid $default-border-color;
}

.popup-modal-wrapper {
    padding: 24px 24px;
}

.popup-modal {
    .close-btn {
        position: absolute;
        right: 10px;
        top: 8px;
        width: 24px;
        height: 24px;
        background: url(../../../static/imgs/close.png) center center no-repeat;
        background-size: cover;
        cursor: pointer;
    }
}

.popup-title {
    margin-top: 42px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 18px;
    color: $light-black-color;
    text-align: center;
}

.popup-title::after {
    display: block;
    content: '  ';
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 36px;
    width: 50px;
    height: 2px;
    background: $extra-light-black-color;
}

@media screen and (max-height: 812px) {
    .popup-modal {
        margin-top: 10vh;
    }
}

@media screen and (min-height: 812px) {
    .popup-modal {
        margin-top: 16vh;
    }
}

@media screen and (max-width: 300px) {
    .popup-modal {
        min-width: 100vw;
    }
}
