
@function cdn($local-path) {
    @return url($cdn + $local-path);
}

$black-color: rgba(0,0,0,0.85);
$light-black-color: rgba(0,0,0,0.65);
$extra-light-black-color: rgba(0,0,0,0.45);

$danger-color: #ff0000;

$primary-color: #0078d4;
$primary-border-color: #106ebe;

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
