
@function cdn($local-path) {
    @return url($cdn + $local-path);
}

$header-height: 120px;
$footer-height: 120px;

$black-color: rgba(0,0,0,0.85);
$light-black-color: rgba(0,0,0,0.65);
$extra-light-black-color: rgba(0,0,0,0.45);

$danger-color: #ff0000;
$default-border-color: #999;
$light-border-color: #ccc;

$primary-color: #0078d4;
$primary-hover-color: #2b88d8;
$primary-disabled-color: #71afe5;
$primary-border-color: #106ebe;

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
