@import '@styles/vars.scss';

.page {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.content {
    flex:1;
    position: relative;
}

